<mat-sidenav-container class="container-nav">
  <mat-sidenav mode="side" opened class="side-nav">
    <div class="block">
      <h4 class="block-title">Filtrar por usuário:</h4>
      <mat-radio-group class="vertical-radio-group">
        <mat-radio-button class="custom-radio" value="especial" routerLink="">Especial</mat-radio-button>
        <mat-radio-button class="custom-radio" value="normal" routerLink="">Normal</mat-radio-button>
        <mat-radio-button class="custom-radio" value="trabalhoso" routerLink="">Trabalhoso</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="block">
      <h4 class="block-title">Filtrar por região:</h4>
      <mat-radio-group class="vertical-radio-group">
        <mat-radio-button class="custom-radio" value="norte" routerLink="">Norte</mat-radio-button>
        <mat-radio-button class="custom-radio" value="nordeste" routerLink="">Nordeste</mat-radio-button>
        <mat-radio-button class="custom-radio" value="centro-oeste" routerLink="">Centro-Oeste</mat-radio-button>
        <mat-radio-button class="custom-radio" value="sudeste" routerLink="">Sudeste</mat-radio-button>
        <mat-radio-button class="custom-radio" value="sul" routerLink="">Sul</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
