<mat-toolbar class="footer">
    <div class="content">
        <div class="logo">
            <img src="assets/img/logo-xpto-manager.png" alt="">
        </div>
        <div class="rights">
            <small class="rights-text">Printing Manager - <strong>Todos os direitos reservados</strong></small>
        </div>
        <div class="social-media">
            <small class="social-media-text">Siga-nos em nossas redes sociais:</small>
        </div>
        <div class="social-icons">
            <a href="#"><img src="assets/img/social-icons/fb-icon.png" alt="" width="32" height="32"></a>
            <a href="#"><img src="assets/img/social-icons/insta-icon.png" alt="" width="32" height="32"></a>
        </div>
    </div>
</mat-toolbar>
