.container-nav {
  position: relative;
  display: block;
  background: #f4f4f4;
}

.vertical-radio-group {
  display: flex;
  flex-direction: column;
}

.block-title {
  margin-bottom: 8px;
  font-size: 14px;
  color: #f4f4f4;
}

.side-nav {
  background: #616161 ;
  margin:0 !important;
  padding: 20px ;
  width: 20%;
}

.block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.mat-radio-button {
  display: block;
  
}

::ng-deep .custom-radio {
  color: red;
}



