.container-nav {
  position: relative;
  height: 100%;
  display: block;
}

.vertical-radio-group {
  display: flex;
  flex-direction: column;
}

.block-title {
  margin-bottom: 8px;

  font-size: 14px;
  color: #fff;
}

.side-nav {
  padding: 10px;
  width: 20%;
}

.block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.mat-radio-button {
  display: block;
  
}

.mat-radio-button ::ng-deep .mat-radio-label-content {
  font-size: 12px;
}
